<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @record.artist %>
</p>

<p>
  <strong>Year:</strong>
  <%= @record.year %>
</p>

<p>
  <strong>Cover art:</strong>
  <%= @record.cover_art %>
</p>

<p>
  <strong>Song count:</strong>
  <%= @record.song_count %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
